{% extends 'base.html.twig' %}

{% block body %}

<div class="mb-5">
    <div class="row">
        <div class="col">
            <h2>Subjects</h2>
            {% for flash in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{ flash }}
                </div>
            {% endfor %}
        </div>    
        <div class="col text-end">
            <a href="{{ path('app_subject_form') }}" class="btn btn-danger rounded-pill mb-3"><i class="bi bi-plus-lg"></i> Create New</a>
        </div>
    </div>
        {% if paginator.getItems|length > 0 %}    
            <div class="row mt-1">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-responsive mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" width="10%"><span class="text-capitalize">{{ 'ID' |trans }}</span></th>
                                            <th scope="col"><span class="text-capitalize">{{ 'description' |trans }}</span></th>
                                            <th scope="col" width="10%"><span class="text-capitalize">{{ 'actions' |trans }}</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in paginator.getItems %}
                                            <tr>
                                                <td>{{ item.id }}</td>
                                                <td>{{ item.description }}</td>
                                                <td>
                                                    <a class="btn btn-link btn-sm text-primary" href="{{ path('app_subject_form', { "id": item.id }) }}">
                                                        <i class="bi bi-pencil-square"></i>
                                                    </a>
                                                    <twig:DeleteButton action="{{ path('app_subject_delete', { "id": item.id }) }}" />
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <twig:Paginator paginator="{{ paginator }}" class="mt-2" />
            </div>
        {% endif %}
</div>

{% endblock %}
