<div{{ attributes }}>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-subtitle mb-2 text-muted">
                for {% for author in book.author %}
                    <a href="#" class="card-link">{{ author.name }}</a>
                {% endfor %}
            </p>
            <p class="card-text mb-0">
                <strong>Details:</strong>
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Publisher: {{ book.publisher }}</li>
                <li class="list-group-item">Edition: {{ book.edition }}</li>
                <li class="list-group-item">Year: {{ book.publicationYear }}</li>
                <li class="list-group-item">Price: $ {{ book.price | number_format(2, ',') }}</li>
            </ul>
        </div>
        {% if book.subjects|length > 0 %}
        <div class="card-footer">
            {% for subject in book.subjects %}
                <a href="#" class="badge bg-primary text-capitalize">{{ subject.description }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
